 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
 body {
  background-color: #ffedd5fc;
  font-family: 'Roboto', sans-serif;
  background: url(img/coffee-beans-dark-background-top-view-coffee-concept-banner.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 30px;
 }

 .container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #e7d7c887;
  /* border-radius: 12px; */
  /* background-image: url(img/espresso.jpg); */

 }

 ul {
  list-style: none;
 }

 /* FONTS */
 h1, h2, h3, .price {
  font-family: 'Roboto Serif', serif;
  text-transform: uppercase;
  color: #2D2C2A;
 }

  /* HEADER */
 header {
  text-align: center;
  padding: 32px 0;
  align-items:baseline;
 }

 header,
 section {
  max-width: 300px;
  margin: 0 auto;
 }

 header img {
  max-width: 60px;
  float: left;
 }

 header h1 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 4px;
  float: right;
 }

 header h1 span {
  color: #995000;
 }

 header p {
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
 }

 /* SECTION */
 section {
  margin-bottom: 24px;
 }

 section h2 {
  background-color: #FED7AA;
  padding: 8px 16px;
  text-align: center;

  margin-bottom: 24px;
  font-size: 18px;
 }

 ul li {
  margin-bottom: 16px;
  display: flex;
 }

 li .details {
  max-width: 240px;
 }
 
 .details h3 {
   margin-bottom: 8px;
   font-size: 16px;
   line-height: 19px;
  }

  .details p {
   color: rgba(0, 0, 0, 0.6);
   font-size: 14px;
   line-height: 21px;
  }
